* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.header {
    text-align: center;
    padding: 20px;
    position: relative;
}

.header-img {
    width: 100%;
}

.header-like {
    position: absolute;
    left: 30px;
    bottom: 30px;
}

.header-view {
    position: absolute;
    right: 30px;
    bottom: 30px;
}

.header-userinfo {

}

.header-profile {
    width: 20%;
    height: 20%;
    border-radius: 50%;
}

.header-name {
    text-align: center;
}