* {
    font-family: "Jua", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* padding: 10px 10px; */
    /* margin: auto; */
    -ms-overflow-style: none;
    /* height: 100%;
    display: grid;
    place-items: center; */
} 

::-webkit-scrollbar {
    display: none;
}
a {
    color: inherit;
    text-decoration: none;
  }
.header-btn{
border: 0;
background-color: transparent;
}


@media screen and (min-width: 1045px) {
    /* Header */
    .img-logo {
        width: 50px;
        height: 50px;
    }
    .header-container {
        width: 98%;
        margin: 5px auto 0;
        padding: 10px 20px;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .header-content {
        display: grid;
        grid-template-columns: 0.4fr 2fr 0.2fr 0.2fr;
        justify-items: center;
        align-items: center;
    }
    .header-nav-content {
        display: flex;
        justify-content: space-between;
    }
    /* 로그인 부분 */
    .body_container {
        display: grid;
        place-items: center; 
        height: 100%;
    }
    .login_content {
        display: grid;
        gap: 20px;
        width: 100%;
        max-width: 500px;
        height: 500px;
        place-items: center;
        margin: 6% auto;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .login_title {
        text-align: center;
        margin-bottom: 20px;
    }
    .id, .pass {
        display: grid;
        grid-template-columns: 1fr 3fr;
        align-items: center;
        border-bottom: 1px solid black;
        padding: 10px 0;
    }
    .username, .userpass {
        margin-right: 10px;
        border: none;
        font-size: 1rem;
        font-weight: 500;
    }
    .user-name, .user-pass {
        border: none;
        padding: 10px;
    }
    .id input:focus {outline:none;} 
    .pass input:focus {outline:none;}
    .button {
        display: grid;
        gap: 10px;
        grid-template-columns: 1fr 1fr;
        padding: 10px 0;
    }
    .login {
        padding: 10px;
        border: 1px solid gray;
        border-radius: 50px;
        background-color: white;
        color: black;
        cursor: pointer;
        text-align: center;
    }
    .register{
        padding: 10px;
        border: 1px solid gray;
        border-radius: 50px;
        background-color: white;
        color: black;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
    }
    .find{
        display: grid;
        justify-content: center;
        color:black;
    }
    .kakao-btn{
        padding: 10px 0;
    }
    .kakao{
        width: 300px;
        height: 45px;
        border: none;
    }
    .kakao:hover {
        cursor: pointer;
    }
}
@media screen and (max-width: 1044px) {
    /* Header */
    .img-logo {
        width: 50px;
        height: 50px;
    }
    .header-container {
        width: 98%;
        margin: 5px auto 0;
        padding: 10px 20px;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .header-content {
        display: grid;
        grid-template-columns: 0.6fr 2fr 0.3fr 0.3fr;
        justify-items: center;
        align-items: center;
    }
    .header-nav-content {
        display: flex;
        justify-content: space-between;
    }
    .btn-group {
        min-width: 10px;
    }
    /* 로그인 바디 */
    .body_container {
        display: grid;
        place-items: center; 
        height: 100%;
    }
    .login_content {
        display: grid;
        gap: 20px;
        width: 100%;
        max-width: 470px;
        height: 500px;
        place-items: center;
        margin: 6% auto;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .login_title {
        text-align: center;
        margin-bottom: 20px;
    }
    .id, .pass {
        display: grid;
        grid-template-columns: 1fr 3fr;
        align-items: center;
        border-bottom: 1px solid black;
        padding: 10px 0;
    }
    .username, .userpass {
        margin-right: 10px;
        border: none;
        font-size: 1rem;
        font-weight: 500;
    }
    .user-name, .user-pass {
        border: none;
        padding: 10px;
    }
    .id input:focus {outline:none;} 
    .pass input:focus {outline:none;}
    .button {
        display: grid;
        gap: 10px;
        grid-template-columns: 1fr 1fr;
        padding: 10px 0;
    }
    .login {
        padding: 10px;
        border: 1px solid gray;
        border-radius: 50px;
        background-color: white;
        color: black;
        cursor: pointer;
        text-align: center;
    }
    .register{
        padding: 10px;
        border: 1px solid gray;
        border-radius: 50px;
        background-color: white;
        color: black;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
    }
    .find{
        display: grid;
        justify-content: center;
        color:black;
    }
    .kakao-btn{
        padding: 10px 0;
    }
    .kakao{
        width: 300px;
        height: 45px;
        border: none;
    }
    .kakao:hover {
        cursor: pointer;
    }
}