body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.container {
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.section {
    margin-bottom: 20px;
}

.section label {
    display: block;
    margin-bottom: 5px;
}

.section input[type="text"],
.section input[type="url"],
.section textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.section button {
    display: block;
    margin-top: 10px;
}

.ingredient-row, .step {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.ingredient-row input,
.step textarea {
    flex: 1;
    margin-right: 10px;
}

.step-images input {
    margin-left: 10px;
}

.actions {
    text-align: center;
}

.actions button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.actions button[type="submit"] {
    background-color: #4CAF50;
    color: white;
}

#saveAndShare {
    background-color: #FFA500;
    color: white;
}

#cancel {
    background-color: #f44336;
    color: white;
}
