* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Jua", sans-serif;
}

.pointer {
    cursor: pointer;
}

button{
    border: 0;
    background-color: transparent;
    cursor: pointer;
}
.head_container {
    display: grid;
    grid-template-columns: 0.6fr 0.8fr 5.6fr 1fr 1fr;;
    width: 96%;
    height: 80px;
    border: 1px solid black;
    align-items: center;
    margin: 0 auto;
}
.head_logo {
    grid-column: 1/2;
}
.head_title {
    grid-column: 2/3;
    font-size: 30px;
    font-weight: bold;
}

.body_container {
    display: grid;
    grid-template-columns: .7fr 5fr;
    margin: 15px auto;
    width: 98.3%;
}
.category {
    grid-column: 1/2;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    border: 1px solid black;
    align-items: center;
    width: 185px;
    height: 288px;
    margin: 0 auto;
}
.main_container {
    display: grid;
    grid-template-rows: 0.8fr 0.5fr 7fr;
}
.head_notice {
    border: 1px solid black;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.main_category {
    width: 310px;
    border: 1px solid black;
    margin: 10px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.main_content {
    border: 1px solid black;
}
.recipe_report_list_head {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin: 0 0 10px 0;
}
.report_list {
    display: grid;
    grid-template-rows: 0.8fr 0.8fr 0.8fr 0.8fr 0.8fr 0.8fr 0.8fr 0.8fr 0.8fr;
}
.report {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    height: 25px;
}
.pagenation_box {
    width: 60%;
    margin: 20px auto 0;
}
.pagenation {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;    
}
.pagenation > button {
    width: 30px;
}

.error-message {
    color: red;
    font-size: 12px;
    width: 100%; /* 부모 요소에 맞게 너비 설정 */
}

.event-header {
    display: flex;
    justify-content: space-between;
}

.event-container {
    display: grid;
}

/* 이현수 css 수정 */

.event-header {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
    padding: 10px 0;
}

.event-body-header {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-right: 15px;
}

.pointer {
    cursor: pointer;
    margin: 0 10px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #8be03c; 
    color: white;
}

.active {
    color: rgb(201, 92, 20); 
    font-weight: 900;
}
.grid-tem {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.event-card {
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
}

.event-card-img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.event-card-text {
    padding: 10px;
    margin-left: 10px;
}

.notice-pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 10px 0;
}

.notice-pagination .number {
    margin: 0 5px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.number.activePage {
    background-color: #3f8899;
    color: white;
}

/* ----------------- */
.cook-btn {
    padding: 10px 0 10px 0;
}
.content_box {
    margin-top: 15px;
}
.event_title {
    width: 700px;
    height: 30px;
}
.cursor {
    cursor: pointer;
}
.event_box {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
}
.input_box {
    width: 250px;
    height: 20px;
}
.ad-img-btn {
    border-radius: 1px solid;
}
.btn{
    padding: 5px 10px;
    border-radius: 4px;
    background-color: #333;
    color: white;
    margin: 0 5px;
}