* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Jua", sans-serif;
  }
button{
    border: 0;
    background-color: transparent;
    cursor: pointer;
}
.head_container {
    display: grid;
    grid-template-columns: 0.6fr 0.8fr 5.6fr 1fr 1fr;;
    width: 96%;
    height: 80px;
    border: 1px solid black;
    align-items: center;
    margin: 0 auto;
}
.notice_container {
    border: 1px solid black;
}
.head_logo {
    grid-column: 1/2;
}
.head_title {
    grid-column: 2/3;
    font-size: 30px;
    font-weight: bold;
}
.active {
    color: #874c00; 
    font-weight: 900;
    }


.body_container {
    display: grid;
    grid-template-columns: 0.7fr 5fr;
    width: 96%;
    margin: 15px auto;
}
.category {
    grid-column: 1/2;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    border: 1px solid black;
    align-items: center;
    width: 185px;
    height: 288px;
    /* margin: 0 auto; */
    margin-right: 5px;
}
.main_container {
    display: grid;
    grid-template-rows: 60px 4fr
}
.head_notice {
    border: 1px solid black;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.main_category {
    width: 310px;
    border: 1px solid black;
    margin: 10px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.main_content {
    border: 1px solid black;
}
.recipe_report_list_head {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin: 0 0 10px 0;
}
.report_list {
    display: grid;
    grid-template-rows: 0.8fr 0.8fr 0.8fr 0.8fr 0.8fr 0.8fr 0.8fr 0.8fr 0.8fr;
}
.report {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    height: 25px;
}
/* ----------------- */

/* 공지사항 리스트 부분 */

.notice-header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    height: 50px;
    margin-bottom: 10px;
}

.notice-body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    /* margin-top: 20px; */
    padding: 7px 0 7px 0;
}

.notice-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    cursor: pointer;
    /* margin-top: 10px; */
    border-bottom: 1px solid;
    padding: 6px 0 6px 0;;
}
.notice-pagination {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    align-items: center;
    gap: 10px;
}
.notice-title {
    margin: auto 0 auto 10px;
}
.notice-write-btn {
    padding: 10px 20px;
    cursor: pointer;
    grid-column: auto; 
    background-color: #7fccde;
    border: none;
    color: white;
    border-radius: 10px;
    width: 80px;
    height: 40px;
    margin: auto 5px auto 0;
}

.notice-title {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

.notice-content {
    width: 100%;
    padding: 5px;
    resize: none;
}

.buttons {
    display: flex;
    gap: 20px;
}

.insert-btn {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    background-color: #333;
    color: white;
    margin: 0 10px;
}

.cancel-btn {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    background-color: #ccc;
    margin: 0 10px;
}
@media (max-width: 700px) {
    .notice-content {
        font-size: 0.7rem;
    }

    .category {
        width: 100%;
    }
}