*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Jua", sans-serif;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    justify-content: center;
}

h2{
    padding: 10px 0;
}

.main_box{
    display: grid;
    grid-template-columns: auto auto;
}

.period{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: end;
}