* {
    margin: 0;
    /* padding: 0; */
    box-sizing: border-box;
    font-family: "Jua", sans-serif;
}

body {
    -ms-overflow-style: none;
} 

/* 헤더 영역 */
.header-container {
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    top: 0;
    z-index: 1000;
}


.header-btn{
    border: 0;
    background-color: transparent;
}
/* 헤더 1045px이상 영역 */
@media screen and (min-width: 1045px) {
    .img-logo {
        width: 50px;
        height: 50px;
    }
    .header-container {
        width: 98%;
        margin: 5px auto 0;
        padding: 10px 20px;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .header-content {
        display: grid;
        /* 추가 */
        grid-template-columns: 0.4fr 2fr 0.2fr 0.2fr;
        justify-items: center;
        align-items: center;
    }
    .header-nav-content {
        display: flex;
        justify-content: space-between;
    }
}
/* 헤더 1044px까지 영역 */
@media screen and (max-width: 1044px) {
    .img-logo {
        width: 50px;
        height: 50px;
    }
    .header-container {
        width: 98%;
        margin: 5px auto 0;
        padding: 10px 20px;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .header-content {
        display: grid;
        /* 추가 */
        grid-template-columns: 0.6fr 2fr 0.3fr 0.3fr;   
        justify-items: center;
        align-items: center;
    }
    .header-nav-content {
        display: flex;
        justify-content: space-between;
    }
    .btn-group {
        min-width: 10px;
    }
}

/* 메인 영역 */
.join_agree_main {
    display: flex;
    justify-content: center; 
    align-items: center;           
}

.join_agree_main_container {
    max-width: 800px;       
    width: 100%;            
    padding: 20px;          
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 8px;
    margin-top: 40px;    
}
/* title부분 */
.join_agree_title {
    padding: 15px;
    margin: 25px 0 40px 20px;
}

.h3 {
    margin-top: 20px;
}
/* textarea부분 */
.join_agree_content {
    flex-direction: column;
    padding: 10px;
    max-width: 720px;
}

.join_agree_grid_container {
    margin-left: 50px;
}

.join_agree_textarea_box {
    padding: 10px;
}

.custom-textarea {
    height: 250px; 
    padding: 5px; 
    border: 1px solid #a0a0a0; 
    border-radius: 2px; 
    font-size: 14px; 
    font-family: Arial, sans-serif; 
}

textarea.custom-textarea {
    width: 100%;
    resize: none;
    margin-bottom: 15px; 
}
/* option radio 버튼 부분 */
.option-btn {
    display: flex;
    gap: 10px; 
}

.option-btn label {
    display: flex;
    align-items: center; 
}

/* 취소, 다음단계 버튼 */
.page-btn {
    text-align: center;
    margin-top: 70px;
}

.cancel-button,
.submit-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
}

.cancel-button {
    margin-right: 30px;
    padding-left: 30px;
    padding-right: 30px;
}
.submit-button {
    background-color: black;
    color: white;
}
/* 취소,다음버튼 hover적용 */
.cancel-button:hover,
.submit-button:hover {
    cursor: pointer;
}
.cancel-button:active,
.submit-button:active {
    transform: translateY(0);
}
